# ValidationResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**can_skip_expiry_check** | **bool** |  | [optional] 
**contract_holder_id** | **string** |  | [optional] 
**contract_holder_name** | **string** |  | [optional] 
**error_code** | **string** |  | [optional] 
**extra** | **map[string,string]** |  | [optional] 
**meta** | [**\passhub\client\model\UniversalAttribute[]**](UniversalAttribute.md) |  | [optional] 
**print_status** | **string** |  | [optional] 
**recharge** | [**\passhub\client\model\RechargePrompt**](RechargePrompt.md) |  | [optional] 
**status** | **string** |  | [optional] 
**suggested_order_items** | [**\passhub\client\model\SuggestedOrder[]**](SuggestedOrder.md) |  | [optional] 
**suggested_products** | [**\passhub\client\model\ProductSuggestion[]**](ProductSuggestion.md) |  | [optional] 
**transaction_tag** | **string** |  | [optional] 
**validation** | [**\passhub\client\model\ValidationResultEntry[]**](ValidationResultEntry.md) |  | [optional] 
**validation_date** | **string** |  | [optional] 
**voucher_id** | **string** |  | [optional] 
**waiting_period_pending** | **int** |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


